@use '../../../styles/colors' as colors;
@use '../../../styles/mixins' as mix;

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  @include mix.bp(sm) {
    align-items: flex-start;
  }

  &__pretitle,
  &__subtitle {
    font-style: italic;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.1;
    color: colors.pick(yellow, 400);
    -webkit-text-stroke: 6px colors.pick(blue, 900);
    paint-order: stroke fill;

    @include mix.bp(md) {
      font-size: 48px;
    }

    @include mix.bp(xl) {
      font-size: 56px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 150px;
    line-height: 0.8;
    color: colors.pick(pink, 200);
    -webkit-text-stroke: 4px colors.pick(pink, 900);
    text-shadow: -6px 6px 0px colors.pick(pink, 900);

    @include mix.bp(md) {
      font-size: 180px;
    }

    @include mix.bp(lg) {
      font-size: 220px;
      color: colors.pick(pink, 200);
      -webkit-text-stroke: 5px colors.pick(pink, 900);
      text-shadow: -7px 7px 0px colors.pick(pink, 900);
    }

    @include mix.bp(xl) {
      font-size: 250px;
    }
  }

}
