@use '../../../styles/colors' as colors;
@use '../../../styles/mixins' as mix;

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  @include mix.bp(sm) {
    align-items: flex-start;
  }

  &__pretitle,
  &__subtitle {
    font-style: italic;
    font-weight: 800;
    font-size: clamp(40px, 3.5vw, 56px);
    line-height: 1.1;
    color: colors.pick(yellow, 400);
    -webkit-text-stroke: clamp(4px, 0.375vw, 6px) colors.pick(blue, 900);
    paint-order: stroke fill;
  }

  &__title {
    --sw: clamp(6px, 0.75vw, 12px);
    --sh: clamp(4px, 0.875vw, 14px);

    font-weight: 800;
    font-size: clamp(150px, 15.6vw, 250px);
    line-height: 0.8;
    color: colors.pick(pink, 200);
    -webkit-text-stroke: var(--sw) colors.pick(pink, 900);
    text-shadow: calc(-1 * var(--sh)) var(--sh) 0px colors.pick(pink, 900);
    paint-order: stroke fill;
  }
}
