@use '../../../styles/mixins' as mix;

.wave {
  display: block;
  width: 100%;
  height: 56px;
  pointer-events: none;

  @include mix.bp(md) {
    height: 80px;
  }

  @include mix.bp(xl) {
    height: 100px;
  }

  &--top {
    transform: scaleY(-1);
  }
}
