@use '../../../../styles/colors' as colors;
@use '../../../../styles/tokens' as t;

.section-heading {
  display: flex;
  flex-direction: column;
  gap: t.space(3);

  &--center {
    align-items: center;
    text-align: center;
  }

  &__subtitle {
    font-weight: 500;
    font-size: clamp(16px, 1.75vw, 28px);
    line-height: 1.2;
  }

  &--primary   { .section-heading__subtitle { color: colors.pick(blue, 700); } }
  &--secondary { .section-heading__subtitle { color: colors.pick(pink, 950); } }
  &--tertiary  { .section-heading__subtitle { color: colors.pick(blue, 950); } }
}
